<div align="center">
  <h1>The Story Behind The Missing Spud</h1>

  <img id='zmorris-img' class='img' src="https://pbs.twimg.com/media/A_jPNhCCEAEV1jI.jpg"> <!-- update to find from images folder  -->
  <p>just like the "i" in interwebs stands for i need help finding my potato</p><br><br>

  <div id="about-txt" align="justify">

  </div>
</div>
