<div align="center">
  <h1>The Story Behind The Missing Spud</h1>

  <img id='zmorris-img' class='img' src="https://pbs.twimg.com/media/A_jPNhCCEAEV1jI.jpg"> <!-- update to find from images folder  -->
  <p>just like the "i" in interwebs stands for i need help finding my potato</p><br><br>

  <div id="about-txt" align="justify">
    <p>A solid moon and a half ago, a classmate gifted me with the cherished half of a potato. Not just a mundane potato either, but a sweet potato, cooked with my most favourite ingredient: love (and a microwave). The sweetest of potatoes. A token of friendship and a delicious breakfast for the soul, I loved my newly acquired spud. But alas, the stars were not in alignment for us. I lost my potato. Last seen at the San Francisco Dev Bootcamp's Lodge room, the mystery of my potato's fate remains unsolved and ever present in my heart. Thus, I need help. Have you seen my potato?</p>
  </div>
</div>
