<% if current_user %>
<!--   <a href="/users/<%= current_user.id %> ">Profile Page</a> -->
  Hello, <%= current_user.username %>!
  <form action="/sessions" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Logout">
  </form>
<% else %>
  <a href="/sessions/new">Login</a> |
  <a href="/users/new">Join</a>
<% end %>
