<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/application.css">
  <title>Missing Spud</title>
</head>
<body>

  <div id="posterstyle">
    <div class="posterhead">
      <h1 id="pretitle">Potato Investigations Bureau - Cold Case</h1>
      <h1 id="missing">MISSING SPUD</h1>
    </div>

    <div class="posterbody">
      <img id="potato-img" src="http://vignette4.wikia.nocookie.net/legomessageboards/images/4/4d/Potato.PNG/revision/latest?cb=20130511000542"> <!-- LINK FROM IMAGES FOLDER -->
      <div class="posterinfo">
        <p>MISSING from the DevBootcamp campus<br>
        633 Folsom, San Francisco, CA 941107</p>
        <p>TYPE: Sweet Potato<br>
        HGT: 8.9cm<br>
        WGT: 195g<br>
        COLOR: Orange</p>
      </div>
    </div>

    <div class="postertext">
      <p>A sweet potato was reported missing on October 18, 2016 by its intended consumer. It was last seen in the Lodge of the DevBootcamp SF location.<br>
      Anyone with information pertaining to the whereabouts of this sweet potato is asked to contact Sierra McLawhorn at 555-555-SPUD. </p>
    </div>
  </div>

</body>
</html>

