<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/application.css">
  <title>Missing Spud</title>
</head>
<body>

  <div id="posterstyle">
    <div class="posterhead">
      <h1 id="pretitle">Potato Investigations Bureau - Cold Case</h1>
      <h1 id="missing">MISSING SPUD</h1>
    </div>

    <div class="posterbody">
      <div class="image">
      <img id="potato-img" src="/images/potato.jpg">
      </div>
      <div class="posterinfo">
        <p>MISSING from the DevBootcamp campus<br>
        633 Folsom, San Francisco, CA 941107</p>
        <p class="stats"><span class="bold spaced">TYPE:</span> Sweet Potato<br>
        <span class="bold spaced">HGT: </span>8.9cm<br>
        <span class="bold spaced">WGT: </span>195g<br>
        <span class="bold spaced">COLOR: </span>Orange</p>
      </div>
    </div>

    <div class="postertext">
      <p>A sweet potato was reported missing on October 18, 2016 by its intended consumer. It was last seen in the Lodge of the DevBootcamp SF location.<br>
      Anyone with information pertaining to the whereabouts of this sweet potato is asked to contact Sierra McLawhorn at 555-555-SPUD.</p>
    </div>
  </div>

</body>
</html>

